body {
  margin: 0px; }

.home-top {
  height: 500px;
  background-image: url("../../styles/img/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .home-top .home-nav {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: flex-end; }
    .home-top .home-nav .home-nav-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 130px;
      font-family: "Duru Sans", sans-serif;
      text-shadow: 2px 2px 4px rgba(60, 60, 60, 0.76);
      color: #676C70; }
      .home-top .home-nav .home-nav-button p {
        font-size: 1em; }
  .home-top .home-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: .6em;
    font-size: 110px;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    text-shadow: 4px 4px 20px rgba(60, 60, 60, 0.76); }
    .home-top .home-welcome .luna-home {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .home-top .home-welcome .luna-home .shop-home {
        background-color: transparent;
        border: 3px solid white;
        font-size: .3em;
        color: white;
        text-shadow: 8px 8px 20px rgba(60, 60, 60, 0.76);
        margin-top: 60px;
        padding: 10px; }

.home-middle {
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .home-middle .middle-p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    margin: 40px; }
    .home-middle .middle-p p {
      font-family: "Rouge Script", cursive;
      font-size: 60px; }
  .home-middle .middle-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px; }
    .home-middle .middle-container .home-necklaces {
      height: 300px;
      width: 400px;
      background-image: url("../../styles/img/necklace.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 50px;
      border: 1px solid rgba(105, 105, 105, 0.65); }
    .home-middle .middle-container .home-rings {
      height: 300px;
      width: 400px;
      background-image: url("../../styles/img/ring.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 50px;
      border: 1px solid rgba(105, 105, 105, 0.65); }
    .home-middle .middle-container .home-dream {
      height: 300px;
      width: 400px;
      background-image: url("../../styles/img/dream.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid rgba(105, 105, 105, 0.65); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0px; }

/*# sourceMappingURL=maps/styles.css.map */
