@import 'styles';


.home-welcome {
  height: 700px;
  width: 100vw;
  background-image: url('../../styles/img/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 110px;
  font-family: $main-font;
  color: white;
  text-shadow: 4px 4px 20px rgba(60, 60, 60, 0.76);

  .shop-home {
    background-color: transparent;
    border: 3px solid white;
    font-size: 35px;
    color: white;
    text-shadow: 8px 8px 20px rgba(60, 60, 60, 0.76);
    margin-top: 60px;
    padding: 10px;

  }
}
