@import 'styles';


.home-container {
  height: 700px;
  width: 100vw;
  background-image: url('../../styles/img/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .home-nav {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: flex-end;

    .home-nav-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 220px;
      font-family: $main-font;
      text-shadow: 1px 1px 4px rgba(60, 60, 60, 0.76);
      color: black;
      p {
        font-size: 2em;
      }
    }
  }
  .home-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1.2em;
    font-size: 110px;
    font-family: $secondary-font;
    color: white;
    text-shadow: 4px 4px 20px rgba(60, 60, 60, 0.76);

    .luna-home {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .shop-home {
        background-color: transparent;
        border: 3px solid white;
        font-size: .3em;
        color: white;
        text-shadow: 8px 8px 20px rgba(60, 60, 60, 0.76);
        margin-top: 60px;
        padding: 10px;
      }
    }
  }
}
