@import 'styles';


.home-top {
  height: 500px;
  background-image: url('../../styles/img/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .home-nav {
    background-color: transparent;
    height: 80px;
    display: flex;
    justify-content: flex-end;

    .home-nav-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 130px;
      font-family: $main-font;
      text-shadow: 2px 2px 4px rgba(60, 60, 60, 0.76);
      color: #676C70;
      p {
        font-size: 1em;
      }
    }
  }
  .home-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: .6em;
    font-size: 110px;
    font-family: $secondary-font;
    color: white;
    text-shadow: 4px 4px 20px rgba(60, 60, 60, 0.76);

    .luna-home {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .shop-home {
        background-color: transparent;
        border: 3px solid white;
        font-size: .3em;
        color: white;
        text-shadow: 8px 8px 20px rgba(60, 60, 60, 0.76);
        margin-top: 60px;
        padding: 10px;
      }
    }
  }
}

.home-middle {
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .middle-p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    margin: 40px;

    p {
      font-family: $cursive-font;
      font-size: 60px;
    }
  }

  .middle-container {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;

    .home-necklaces {
      height: 300px;
      width: 400px;
      background-image: url('../../styles/img/necklace.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 50px;
      border: 1px solid rgba(105, 105, 105, 0.65);
    }

    .home-rings {
      height: 300px;
      width: 400px;
      background-image: url('../../styles/img/ring.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 50px;
      border: 1px solid rgba(105, 105, 105, 0.65);

    }

    .home-dream {
      height: 300px;
      width: 400px;
      background-image: url('../../styles/img/dream.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid rgba(105, 105, 105, 0.65);

    }

  }

}
