// Colors //


// Fonts //

$main-font: 'Duru Sans', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
$cursive-font: 'Rouge Script', cursive;


// Everything Else

html {

}
body {
  margin: 0px;
}
